.footer {
    width: 100%;
    padding: 6vh 0 0;
    margin-top: 3vh;
    background: #F7F8EF;

    @media (max-width: 968px) {
        margin-top: 3em;
    }

    .container {

    }

    .group {
        margin-top: 1em;

        @media (max-width: 968px) {
            flex-direction: column;
        }
    }

    &-logo {
        flex: 1;
        padding-right: 5em;

        @media (max-width: 968px) {
            padding-right: 0;
            display: flex;
            justify-content: center;
        }

        img {
            width: 100%;
            max-width: 150px;

            @media (max-width: 968px) {
                max-width: 150px;
            }
        }
    }

    &-nav {
        flex: 4;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: 968px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    &-section {
        flex: 1;
        padding-right: 20px;

        @media (max-width: 968px) {
            padding-right: 0;
            padding-bottom: 20px;
        }

        h3 {
            font-size: 1.25rem;

            @media (max-width: 968px) {
                font-size: 1.5rem;
            }
        }
    }

    &-links {
        list-style-type: none;
        padding: 0;

        li {

        }

        a {
            color: $color-0;
            text-decoration: none;
            font-size: 1rem;

            &:hover,
            &:focus {
                color: $color-1;
            }
        }
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 3em;
        padding-top: 2em;
        padding-bottom: 2em;
        border-top: 2px solid $color-grey-2;
    }

    .copyright {
        flex: 1;

        @media (max-width: 968px) {
            order: 1;
        }
    }

    .social-icons {
        flex: 1;
    }

    .ewd {
        width: 200px;
        line-height: 1;

        &-wrap {
            flex: 1;
            display: flex;
            justify-content: flex-end;

            @media (max-width: 968px) {
                order: 1;
                margin-top: 1em;
            }
        }

        img {
            width: 100%;
        }
    }
}
