.header {
    padding-top: 1.5em;
    border-top: 8px solid $color-1;
    // background: #fff;

    &::after {
        content: '';
        position: absolute;
    }

    .container {
        position: relative;
        width: 100%;
        padding: 3em 270px 2em;

        @media (max-width: 1920px) {
            padding: 3em 120px 2em;
        }
        @media (max-width: 1500px) {
            padding: 3vh 60px 2vh;
        }
        @media (max-width: 1200px) {
            padding: 2vh 1.5em;
        }
    }

    .group {
        justify-content: space-between;
        align-items: flex-end;
    }

    .logo {
        width: 100%;
        max-width: 380px;
        margin-bottom: -3px;

        @media (max-width: 1200px) {
            max-width: 300px;
        }

        a {
            display: block;
        }

        img {
            width: 100%;
        }
    }

    .mobile-icons {
        display: none;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        a,
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 100%;
            color: $color-grey-3;
            font-size: 2rem;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }

    .search {
        position: absolute;
        right: 1em;
        top: 1em;
    }

    @media (max-width: 1000px) {
        .group {
            align-items: center;
        }

        .logo {
            max-width: 160px;
            max-height: 70px;
        }

        .search {
            display: none;
        }

        .mobile-icons {
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
        }
    }
}
