$button-color: #fff;
$button-background: $color-1;

/* Button Styling */
.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;

    &-center {
        justify-content: center;

        .button + .button {
            margin: 0 0 0 1em;
        }
    }

    &-right {
        justify-content: flex-end;
    }

}

// Reset styles for all buttons
.button {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: $button-color;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button {
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0 1.5em;
    height: 56px;
    font-size: 1.125rem;
    font-weight: 600;
    background: $button-background;
    color: $button-color;
    border-radius: 0.375em 1.5em 0.375em 1.5em;
    line-height: 1;
    transition: 150ms ease;
    text-decoration: none;
    user-select: none;
    cursor: pointer;

    + .button {
        margin: 0 0 0 1em;
    }

    &:hover,
    &:focus {
        background: lighten($button-background, 10%);
        box-shadow: $box-shadow-2;
    }

    &:active {
        background: darken($button-background, 10%);
        box-shadow: $box-shadow-2;
        transform: translateY(1px);
    }

    i + span {
        margin-left: 0.5em;
    }

    span + i {
        margin-left: 1.5em;
    }

    // Unique styles
    &-secondary {
        background: $color-2;

        &:hover,
        &:focus {
            background: darken($color-2, 6%);
        }
    }

    &-reverse {
        background: #fff;
        color: $button-background;

        &:hover,
        &:focus {
            background: #fff;
        }
    }
    &-ghost {
        background: transparent;
        color: $button-background;
        border: 2px solid $button-background;
        font-weight: 600;

        &:hover,
        &:focus {
            background: transparent;
            box-shadow: none;
            color: $color-2;
            border-color: $color-2
        }
    }

    &-size-small {
        font-size: 0.75rem;
        height: 34px;
    }

    &-text {
        background: none;
        padding: 0;
        box-shadow: none;
        color: $color-1;
        border-radius: 0;
        height: auto;

        &:hover,
        &:focus {
            background: none;
            color: $color-0;
            box-shadow: 0 2px 0 $color-1;
        }
    }

    &-icon {
        height: auto;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &[disabled] {
        background: $color-grey-1;
        color: $color-0;
        cursor:default;

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }

    @media (max-width: 768px) {
        &,
        + &{
            margin: 0 1em 1em 0;
        }
    }
}
