.services {
    padding-top: 6vh;
    padding-bottom: 6vh;

    .container {

    }

    .group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
    }

    &-block {

        a {
            display: block;
            text-decoration: none;
            color: inherit;
            background: #F7F8EF;
            padding: 3em;
            height: 100%;
            transition: 0.22s ease-in-out;

            &:hover,
            &:focus {
                transform: translateY(-6px);
                background: #fff;
            }
        }

        &-icon {
            --size: 3em;
            width: var(--size);
            height: var(--size);
            background: $color-grey-2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin-bottom: 1em;
            font-size: 1.5rem;
        }

        .button {
            margin-top: 2em;

            &:hover,
            &:focus {
                box-shadow: none;
            }
        }
    }
}
