//Colors
$color-0: #232610;
$color-1: #7b8638;
$color-2: #87393E;
$color-3: #478538;

$color-grey-1: #F7F8EF;
$color-grey-2: #E7EBCE;
$color-grey-3: #424242;

//Fonts
$font-0: "Inter", sans-serif;
$font-1: "Inter", sans-serif;

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba($color-1,.1);
$box-shadow-2: 0 4px 6px rgba($color-1,.11), 0 1px 3px rgba($color-1,.08);
$box-shadow-3: 0 7px 14px rgba($color-1,.11), 0 3px 6px rgba($color-1,.08);

//Transitions
$transition-1: 250ms ease;

//Sizing
$container-width: 1200px; //Sizing of the section .container as well as .column containers
